.jumbo-big {
    font-family: Rubik;
    color: #ffffff;
    font-weight: bolder;
    font-size: 2.7rem;
    font-style: normal;
    line-height: 50px;
    max-width: 550px;
    margin-top: 30vh;
}
.jumbo-big-image {
    width: 8.2rem;
}

@media(max-width:676px){
    
    .jumbo-big {
        font-size: 2rem;
        font-style: normal;
        line-height: 2rem;
        margin-top: 9rem;
    }
      
    .jumbo-big-image {
        width: 5.6rem;
    }
}