.jumbo-button-1 {
    display: inline-block;
    margin: 4px 2px;
    font-weight: bold !important;
    color: #35974a !important;
    font-size: 1rem !important;
    box-shadow: 3px 3px rgba(255, 255, 255, 0.425) !important;
    text-transform: uppercase;
}
.jumbo-button-2 {
    display: inline-block;
    margin: 4px 2px;
    font-weight: bold !important;
    color: #ffffff !important;
    font-size: 1rem !important;
    box-shadow: 3px 3px rgba(255, 255, 255, 0.425) !important;
    text-transform: uppercase;

}
.jumbo-button-1:hover{
    color: #35974A !important;
    box-shadow: 3px 3px rgba(203, 255, 196, 0.705) !important;
}
.jumbo-button-2:hover{
    color: #35974A !important;
    box-shadow: 3px 3px rgba(203, 255, 196, 0.705) !important;
}